<launch>
  <node name="rover_arm" pkg="rover_arm" type="rover_arm" respawn="true" output="screen"/>
  <node name="rover_arm_moveit_config" pkg="rover_arm_moveit_config" type="rover_arm_moveit_config" respawn="true" output="screen"/>
  <node name="rover_arm_moveit_parser" pkg="rover_arm_moveit_parser" type="demo" respawn="true" output="screen"/>
</launch>
