<launch>
    <!-- https://github.com/vikiboy/AGV_Localization/blob/master/robot_localization/launch/ekf.launch -->
    <!-- https://answers.ros.org/question/241222/fusing-imu-gps-with-robot_location-package/ -->

    <group ns="rover_odometry">
            <!-- ########## Processes GPS and IMU Messages ########## -->
        <node name="gps_and_imu" pkg="rover_odometry" type="odometry.py" respawn="true" output="screen" >
            <!--<param name="gps_sentence_topic" value="/nmea_sentence"/>-->
            <!--<param name="imu_data_topic" value="/imu/data"/>-->
            <!--<remap from="nmea_sentence" to="gps/sentence"/>-->
            <!--<remap from="imu/data" to="/imu/data"/>-->
        </node>
        <!-- ########## Converts GPS Sentences to GPS Fix data ########## -->
        <node name="navsat_driver" pkg="nmea_navsat_driver" type="nmea_topic_driver" output="screen">
            <remap from="nmea_sentence" to="gps/sentence"/>
        </node>

        <!--<node pkg="tf" type="static_transform_publisher" name="imu_tf" args="0 0 0 0 0 0 1 base_link imu 20"/>-->
        <!--<node pkg="tf" type="static_transform_publisher" name="gps_tf" args="0 0 0 0 0 0 1 base_link gps 20"/>-->

        <!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">-->
            <!--<param name="output_frame" value="odom"/>-->
            <!--<param name="frequency" value="20"/>-->
            <!--<param name="odom_used" value="true"/>-->
            <!--<param name="imu_used" value="true"/>-->
            <!--<param name="vo_used" value="false"/>-->
            <!--<param name="sensor_timeout" value="0.1"/>-->
            <!--<param name="two_d_mode" value="false"/>-->

            <!--<param name="map_frame"       value="map"/>-->
            <!--<param name="odom_frame"      value="odom"/>-->
            <!--<param name="base_link_frame" value="base_link"/>-->
            <!--<param name="world_frame"     value="odom"/>-->

            <!--<param name="odom0" value="fix"/>-->
            <!--<param name="imu0"  value="imu/data"/>-->

            <!--<rosparam param="odom0_config">[true, true, false,-->
                                          <!--false, false, false,-->
                                          <!--false , false, false,-->
                                          <!--false, false, false,-->
                                          <!--false, false, false]</rosparam>-->

            <!--<rosparam param="imu0_config">[false, false, false,-->
                                         <!--true , true , true,-->
                                         <!--false, false, false,-->
                                         <!--true , true , true ,-->
                                         <!--true , true , true ]</rosparam>-->

            <!--<param name="odom0_differential" value="false"/>-->
            <!--<param name="imu0_differential"  value="false"/>-->

            <!--<param name="imu0_remove_gravitational_acceleration" value="true"/>-->

            <!--<param name="odom0_relative" value="false"/>-->
            <!--<param name="imu0_relative"  value="false"/>-->

            <!--<param name="print_diagnostics" value="true"/>-->

            <!--&lt;!&ndash; ======== ADVANCED PARAMETERS ======== &ndash;&gt;-->

            <!--<param name="odom0_queue_size" value="2"/>-->
            <!--<param name="imu0_queue_size" value="10"/>-->

        <!--</node>-->

        <!--<node name="navsat_transform" pkg="robot_localization" type="navsat_transform_node" output="screen">-->
                <!--<param name="broadcast_utm_transform" value="true"/>-->
        <!--</node>-->
    </group>
</launch>
