<launch>
    <!-- RTABMAP RGB-D SLAM -->
    <group ns="rtabmap">
        <node output="screen" pkg="rtabmap_ros" name="rtabmap" type="rtabmap" clear_params="true">
            <param name="frame_id" value="robot_base" />
            <param name="subscribe_depth" value="true" />
            <param name="subscribe_scan_cloud" value="false" />
            <param name="grid_size" type="double" value="20"/>
            <param name="grid_cell_size" type="double" value="0.05"/> <!-- Default: 0.05 -->
            <param name="Grid/MaxGroundAngle" value="180"/> <!-- Maximum angle between point's normal to ground's normal to label it as ground. Points with higher ngle difference are considered as obstacles. Default: 45 -->
            <param name="grid_eroded" value="true"/>
            <param name="Optimizer/Strategy"  type="string" value="0"/> <!-- TORO global optimization. Default: GTSAM -->

            <!-- INPUT TOPICS -->
            <remap from="odom" to="/rgbd_odometry/odom" />
            <remap from="rgb/image" to="/camera/rgb/image_rect_color" />
            <remap from="rgb/camera_info" to="/camera/rgb/camera_info" />
            <remap from="scan_cloud" to="/camera/point_cloud/cloud_registered" />
            <remap from="depth/image" to="/camera/depth/depth_registered" />
            <!-- OUTPUT TOPICS -->
            <remap from="map" to="grid_map"/>

            <!-- Improve loop closure chances -->
            <param name="RGBD/LoopClosureReextractFeatures" type="string" value="true"/> <!-- Extract features even if there are some already in the nodes, more loop closures will be accepted. Defalut: false -->
            <param name="Vis/MinInliers" type="string" value="10"/> <!-- Minimum feature correspondences to compute/accept the transformation. Default: 20 -->
            <param name="Vis/InlierDistance" type="string" value="0.15"/> <!-- Maximum distance for feature correspondences. Used by 3D->3D estimation approach (the default approach). Default: 0.1 -->
        </node>
    </group>
</launch>
