<launch>
    <group ns="sender_transports">
        <arg name="target" default="192.168.1.15" />

        <node name="chassis_1280x720" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17001" />
            <rosparam param="topics">
                [{name: "/cameras/chassis/image_1280x720/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="undercarriage_1280x720" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17002" />
            <rosparam param="topics">
                [{name: "/cameras/undercarriage/image_1280x720/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="main_navigation_1280x720" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17003" />
            <rosparam param="topics">
                [{name: "/cameras/main_navigation/image_1280x720/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="end_effector_1280x720" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17004" />
            <rosparam param="topics">
                [{name: "/cameras/end_effector/image_1280x720/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="chassis_640x360" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17005" />
            <rosparam param="topics">
                [{name: "/cameras/chassis/image_640x360/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="undercarriage_640x360" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17006" />
            <rosparam param="topics">
                [{name: "/cameras/undercarriage/image_640x360/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="main_navigation_640x360" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17007" />
            <rosparam param="topics">
                [{name: "/cameras/main_navigation/image_640x360/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="end_effector_640x360" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17008" />
            <rosparam param="topics">
                [{name: "/cameras/end_effector/image_640x360/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="chassis_256x144" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17009" />
            <rosparam param="topics">
                [{name: "/cameras/chassis/image_256x144/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="undercarriage_256x144" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17010" />
            <rosparam param="topics">
                [{name: "/cameras/undercarriage/image_256x144/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="main_navigation_256x144" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17011" />
            <rosparam param="topics">
                [{name: "/cameras/main_navigation/image_256x144/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="end_effector_256x144" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17012" />
            <rosparam param="topics">
                [{name: "/cameras/end_effector/image_256x144/compressed", compress: false, rate: 0.0}]
            </rosparam>
        </node>

        <node name="bogie_status_tcp" pkg="nimbro_topic_transport" type="tcp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17013" />
            <rosparam param="topics">
                [{name: "/rover_status/wheel_status", compress: false, rate: 1.0}]
            </rosparam>
        </node>

        <node name="camera_status_tcp" pkg="nimbro_topic_transport" type="tcp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17014" />
            <rosparam param="topics">
                [{name: "/rover_status/camera_status", compress: false, rate: 1.0}]
            </rosparam>
        </node>

        <node name="frsky_status_tcp" pkg="nimbro_topic_transport" type="tcp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17015" />
            <rosparam param="topics">
                [{name: "/rover_status/frsky_status", compress: false, rate: 1.0}]
            </rosparam>
        </node>

        <node name="gps_status_tcp" pkg="nimbro_topic_transport" type="tcp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17016" />
            <rosparam param="topics">
                [{name: "/rover_status/gps_status", compress: false, rate: 1.0},
                {name: "/rover_odometry/fix", compress: false, rate: 5.0}]
            </rosparam>
        </node>

        <node name="jetson_status_tcp" pkg="nimbro_topic_transport" type="tcp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17017" />
            <rosparam param="topics">
                [{name: "/rover_status/jetson_status", compress: false, rate: 1.0}]
            </rosparam>
        </node>

        <node name="misc_status_tcp" pkg="nimbro_topic_transport" type="tcp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17018" />
            <rosparam param="topics">
                [{name: "/rover_status/misc_status", compress: false, rate: 1.0}]
            </rosparam>
        </node>

        <node name="udp_statuses_sender" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17019" />
            <rosparam param="topics">
                [
                {name: "/rover_status/battery_status", compress: false, rate: 1.0},
                {name: "/rover_control/tower/status/co2", compress: false, rate: 1.0},
                {name: "/rover_odometry/imu/data", compress: false, rate: 10.0},
                {name: "/rover_control/mining/status", compress: false, rate: 5.0},
                {name: "/rover_control/gripper/status", compress: false, rate: 5.0},
                {name: "/rover_science/soil_probe/data", compress: false, rate: 5.0},
                {name: "/rover_science/rdf/data", compress: false, rate: 50.0},
                {name: "/rover_control/scale/measurement", compress: false, rate: 20.0}
                ]
            </rosparam>
        </node>

        <node name="arm_status_udp_sender" pkg="nimbro_topic_transport" type="udp_sender">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17020" />
            <rosparam param="topics">
                [
                {name: "/rover_arm/status", compress: false, rate: 5.0}
                ]
            </rosparam>
        </node>
    </group>
</launch>
